table {
  width: 100%;
}
#class tr:nth-child(even) {
  background-color: #f2f2f2;
}

#class tr:hover {
  background-color: #ddd;
}

#class td {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 24px;
  font-weight: 400;
  cursor: pointer;
}

#class th {
  padding: 20px;
  text-align: center;
  background-color: #66aaa2;
  color: white;
  font-size: 38px;
}

.fab {
  position: absolute;
  bottom: 35px;
  right: 35px;
}
