/* Structure */
table {
  width: 100%;
}

.container {
  padding: 20px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.error {
  color: red;
  font-weight: bold;
}

.fab {
  position: absolute;
  bottom: 35px;
  right: 35px;
}

@media screen and (max-width: 738px) {
  .container {
    padding: 0px;
  }

  .visible {
    display: none;
  }
}
